.connection__container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 37px;
  padding-bottom: 35px;
}

.connection__dot {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-text);
}

.connection__street {
  font-size: 16px;
  line-height: 32px;
  font-style: normal;
  color: var(--color-text);
}

.connection__form {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

 .connection__label {
  position: relative;
}

.connection__data {
  position: relative;
  padding: 7px 24px 9px;
  min-width: 270px;
  border: 1px solid var(--color-text);
  border-radius: 100px;
  outline: none;
  font-size: 16px;
  line-height: 32px;
  transition: background-color .3s ease-in-out;
}

.connection__data::placeholder {
  color: var(--color-time);
}

.connection__data:hover,
.connection__data:focus {
  background-color: #ececec;
}

.connection__data:active {
  background-color: var(--color-white);
}

.connection__btn {
  padding: 10px 35px 11px 33px;
  border: 2px solid var(--color-amethyst);
  border-radius: 100px;
  min-width: 323px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  outline: 2px solid transparent;
  background-color: transparent;
  color: var(--color-amethyst);
  transform: translate(-1px, -1px);
  transition: background-color .3s ease-in-out, color .3s ease-in-out, outline-color .3s ease-in-out;
}

.connection__btn-two {
  display: none;
  padding: 12px 35px;
  border: 2px solid var(--color-amethyst);
  border-radius: 100px;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-amethyst);
  outline: 2px solid transparent;
  background-color: transparent;
  color: var(--color-amethyst);
  transition: background-color .3s ease-in-out, color .3s ease-in-out, outline-color .3s ease-in-out;
}

.connection__btn:hover,
.connection__btn-two:hover {
  color: var(--color-white);
  background-color: var(--color-amethyst);
}

.connection__btn::after,
.connection__btn-two::after {
  content: '';
  position: absolute;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  border-radius: 100px;
  outline: 2px solid transparent;
  transition: outline-color .3s ease-in-out;
}

.connection__btn:active::after,
.connection__btn-two:active::after {
  outline: none;
}

.connection__btn:active,
.connection__btn-two:active {
  border-color: var(--color-vsv);
  background-color: var(--color-active);
}

.connection__btn:focus::after,
.connection__btn-two:focus::after {
  outline-color: #c283f3;
}



.connection__click {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.connection__connect {
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  color: var(--color-text);
}

.connection__link {
  display: inline-block;
  border: 1px solid transparent;
  border-radius: 50%;
  width: 41px;
  height: 41px;
  outline: none;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 41px;
  background-position: center;
  transition: opacity .3s ease-in-out, border-color .3s ease-in-out;
}

.connection__link:focus,
.connection__link:hover {
  opacity: .5;
}

.connection__link:active {
  opacity: 1;
  border-color: var(--color-amethyst)
}

.connection__link-wa {
  margin-right: 15px;
  background-image: url(../../img/whatsapp.svg);
}

.connection__link-teleg {
  background-image: url(../../img/telegram.svg);
}

.map,
.map__wrapper {
  width: 100%;
  height: 700px;
  overflow: hidden;
}

[class*="ground-pane"] {
  filter: grayscale(1);
}

[class*="copyrights-pane"] {
  display: none;
}

.just-validate-error-label {
  position: absolute;
  bottom: 110%;
  font-size: 12px;
  line-height: 16px;
}

.is-invalid {
  border-color: var(--color-error)
}


