.developments__container {
  position: relative;
  padding-bottom: 30px;
  padding-left: 23px;
  padding-right: 7px;
}

.developments__title {
  margin-bottom: 16px;
}

.developments__swiper {
  position: relative;
  height: 700px;
  overflow: hidden;
}

.developments__swiper-wrapper {
  display: flex;
}

.developments__swiper-slide {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border: 1px solid var(--ligth-gray);
  padding: 313px 50px 38px;
  height: 700px;
  min-height: 700px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top center;
}

.developments__swiper-slide-one {
  background-image: url(../../img/developments-1.png);
}

.developments__swiper-slide-two {
  background-image: url(../../img/developments-2.png);
}


.developments__swiper-slide-three {
  background-image: url(../../img/developments-3.png);
}


.developments__swiper-slide-four {
  background-image: url(../../img/developments-4.png);
}


.developments__swiper-slide-five {
  background-image: url(../../img/developments-5.png);
}

.development__time {
  display: block;
  margin-bottom: 13px;
}

.development__subtitle {
  margin-bottom: 10px;
}

.development__descr {
  margin-bottom: auto;
}

.development__link {
  position: relative;
  padding: 2px 8px 6px 8px;
  width: 110px;
  font-size: 16px;
  line-height: 32px;
  outline: none;
  color: var(--color-amethyst);
  transform: translate(-8px, 4px);
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.development__link::before {
  content: '';
  position: absolute;
  left: 8px;
  bottom: 8px;
  height: 1px;
  width: 86px;
  background-color: var(--color-amethyst);
  transition: background-color .3s ease-in-out;
}

.development__link:focus {
  color: var(--color-white);
  background-color: var(--color-amethyst);
}

.development__link:focus::before {
  background-color: var(--color-white);
}

.development__link:hover {
  color: var(--color-active);
}

.development__link:hover::before {
  background-color: var(--color-active);
}

.development__link:active {
  color: var(--color-bl);
}

.development__link:active::before {
  background-color: var(--color-bl);
}

.developments__swiper-button {
  position: absolute;
  top: 53%;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  outline: 2px solid transparent;
  background-color: #ececec;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
  transform: translateY(-45%);
  cursor: pointer;
  z-index: 100;
  transition: background-color.3s ease-in-out, outline-color .3s ease-in-out;
}

.developments__swiper-button-prev {
  left: -2px;
  background-image: url(../../img/developments-arrow-prev.svg);
}

.developments__swiper-button-next {
  right: -19px;
  background-image: url(../../img/developments-arrow-next.svg);
}

.developments__swiper-button:hover {
  background-color: var(--color-vsv);
}

.developments__swiper-button:focus {
  outline-color: var(--color-amethyst);
}

.developments__swiper-button:active {
  outline-color: var(--color-amethyst);
}

.developments__container .swiper-button-disabled {
  visibility: hidden;
}

