.developments__container {
  position: relative;
  padding-bottom: 30px;
}

.developments__title {
  margin-bottom: 16px;
}

.developments__swiper {
  position: relative;
  overflow: hidden;
}

.developments__swiper-wrapper {
  display: flex;
}

.developments__swiper-slide {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  border: 1px solid var(--ligth-gray);
}

.developments__picture {
  margin-bottom: 13px;
}

.developments__img {
  display: block;
  width: 100%;
  object-fit: cover;
}

.developments__wrapper {
  display: flex;
  flex-direction: column;
  padding: 0 50px 34px;
  min-height: 386px;
}

.developments__time {
  display: block;
  margin-bottom: 13px;
}

.developments__subtitle {
  margin-bottom: 9px;
}

.developments__descr {
  margin-bottom: auto;
}

.developments__link {
  position: relative;
  padding: 2px 0 6px 0;
  width: 110px;
  font-size: 16px;
  line-height: 32px;
  outline: none;
  color: var(--color-amethyst);
  transition: background-color .3s ease-in-out, color .3s ease-in-out;
}

.developments__link::before {
  content: '';
  position: absolute;
  bottom: 8px;
  height: 1px;
  width: 86px;
  background-color: var(--color-amethyst);
  transition: background-color .3s ease-in-out;
}

.developments__link:focus {
  color: var(--color-white);
  background-color: var(--color-amethyst);
}

.developments__link:focus::before {
  background-color: var(--color-white);
}

.developments__link:hover {
  color: var(--color-active);
}

.developments__link:hover::before {
  background-color: var(--color-active);
}

.developments__link:active {
  color: var(--color-bl);
}

.developments__link:active::before {
  background-color: var(--color-bl);
}

.developments__swiper-button {
  position: absolute;
  top: 53%;
  border-radius: 100%;
  width: 50px;
  height: 50px;
  outline: 2px solid transparent;
  background-color: #ececec;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 12px;
  transform: translateY(-45%);
  cursor: pointer;
  z-index: 100;
  transition: background-color.3s ease-in-out, outline-color .3s ease-in-out;
}

.developments__swiper-button-prev {
  left: -10px;
  background-image: url(../../img/developments-arrow-prev.svg);
}

.developments__swiper-button-next {
  right: -10px;
  background-image: url(../../img/developments-arrow-next.svg);
}

.developments__swiper-button:hover {
  background-color: var(--color-vsv);
}

.developments__swiper-button:focus {
  outline-color: var(--color-amethyst);
}

.developments__swiper-button:active {
  outline-color: var(--color-amethyst);
}

.developments__container .swiper-button-disabled {
  visibility: hidden;
}

.developments__swiper-pagination {
  display: flex;
  justify-content: center;
}

.developments__swiper-pagination .swiper-pagination-bullet {
  display: none;
  width: 10px;
  height: 10px;
  background-color: var(--ligth-gray);
  cursor: pointer;
}

.developments__swiper-pagination .swiper-pagination-bullet:not(:last-child) {
  margin-right: 15px;
}