.footer {
  padding: 50px 160px 45px;
  background-color: var(--color-bl);
}

.footer__container {
  display: flex;
  justify-content: space-between;
  padding: 0;
}

.footer__link {
  outline: none;
}

.footer__list {
  display: flex;
}

.footer__item:not(:last-child) {
  margin-right: 20px;
}

.social__link {
  display: inline-block;
  width: 45px;
  height: 45px;
  outline: none;
  transform: translateY(-3px);
}

path {
  transition: fill .3s ease-in-out;
}

.social__link:hover  svg path,
.social__link:focus  svg path {
  fill: var(--color-white);
}

.social__link:active  svg path {
  fill: var(--color-amethyst);
}

