.gallery {
  padding-top: 80px;
  padding-bottom: 85px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url(../../img/gallery/gallery-bg.jpg);
}

.gallery__container {
  display: flex;
  justify-content: space-between;
  padding-right: 23px;
  padding-left: 23px;
}

.gallery__title {
  margin-bottom: 17px;
  color: var(--color-white);
}

.gallery__left {
  display: flex;
  flex-direction: column;
  margin-right: 50px;
}

.gallery__top {
  margin-bottom: 9px;
}

.gallery__filter {
  display: flex;
  flex-direction: column;
  margin-bottom: 182px;
}

.gallery__nav {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

.cuntury__item {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-white);
}

/* choices */

.choices {
  min-width: 400px;
  margin-bottom: 183px;
}

.choices__inner  {
  padding: 0;
  min-height: 40px;
  border-radius: 6px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  background-color: transparent;
  color: var(--color-white);
}

.is-open .choices__inner {
  padding: 0;
  border-radius: 6px;
}

.choices__item {
  padding: 3px 15px;
}

.choices__item:hover {
  color: var(--color-white);
  background-color: rgba(255, 255, 255, 0.2);
}

.choices[data-type*=select-one] .choices__inner {
  padding: 0;
}

.choices__placeholder {
  opacity: 1;
}

.choices[data-type*=select-one]::after {
  top: 52%;
  right: 14px;
  width: 12px;
  height: 7px;
  border:  none;
  background-image: url(../../img/header/header-check-mark.svg);
}

.choices[data-type*=select-one].is-open::after {
  top: 45%;
  background-image: url(../../img/header/header-check-mark-reverse.svg);
  margin: 0;
}

.choices__list--single {
  padding: 0;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  border-radius: 6px;
  background-color: transparent;
  color: var(--color-white);
}

.choices__list--dropdown .choices__item--selectable {
  opacity: 0.5;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted, .choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.2);
}

/* century */

:where(input[class="century__input"]) {
  display: none;
}

.century__item:nth-child(1) {
  margin-bottom: 13px;
}

.century__item:nth-child(2) {
  margin-bottom: 15px;
}

.century__label {
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: row-reverse;
  cursor: pointer;
  color: var(--color-white);
}

.century__check {
  position: relative;
  display: inline-block;
  margin-right: 12px;
  border: 1px solid var(--color-white);
  background-color: transparent;
  width: 12px;
  height: 12px;
  transition: border-color .3s ease-in-out;
}

.century__input + .century__check::before {
  content: "";
  position: absolute;
  top: 30%;
  right: 30%;
  opacity: 0;
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: var(--color-hover);
  transition: opacity .3s ease-in-out;
}

.century__input:checked + .century__check::before,
.century__input:checked + .century__check {
  border-color: var(--color-hover);
  opacity: 1;
}

/* swiper */


.gallery__rigth {
  position: relative;
  top: 85px;
}

.gallery__swiper {
  width: 1150px;
  height: 100%;
  overflow: hidden;
}

.gallery__wrapper {
  display: flex;
}

.gallery__slide {
  position: relative;
  flex-shrink: 0;
  height: 350px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  background-color: var(--color-white);
  cursor: pointer;
}

.gallery__slide::after {
  content: '';
  position: absolute;
  top: 20px;
  right: 25px;
  bottom: 30px;
  left: 25px;
  background-color: rgba(0, 0, 0, 0.5);
  background-position: center 46%;
  background-repeat: no-repeat;
  background-size: 81px 79px;
  background-image: url(../../img/gallery/gallery-more.svg);
  opacity: 0;
  transition: opacity .5s ease-in-out;
}

.gallery__slide:hover::after {
  opacity: 1;
}

.gallery__slide-one {
  background-image: url(../../img/gallery/gallery-slide-1.jpg);
}

.gallery__slide-two {
  background-image: url(../../img/gallery/gallery-slide-2.jpg);
}

.gallery__slide-three {
  background-image: url(../../img/gallery/gallery-slide-3.jpg);
}

.gallery__slide-four {
  background-image: url(../../img/gallery/gallery-slide-4.jpg);
}

.gallery__slide-five {
  background-image: url(../../img/gallery/gallery-slide-5.jpg);
}

.gallery__slide-six {
  background-image: url(../../img/gallery/gallery-slide-6.jpg);
}

.swiper-button-next:after, .swiper-button-prev:after {
  display: none;
}

.swiper-button-next,
.swiper-button-prev {
  top: -14%;
  margin: 0;
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-color: #666;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 7px;
}

.swiper-button-prev {
  left: 3px;
  background-image: url(../../img/gallery/gallary-array-prev.svg);
}

.swiper-button-next {
  left: 103px;
  background-image: url(../../img/gallery/gallary-array-next.svg);
}

.swiper-pagination {
  position: absolute;
  left: 46px;
  top: -53px;
  width: 43px;
  color: var(--color-white);
}

/* modal */

/* .modals__overlay {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  background-color: #727272;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
  z-index: 200;
} */

/* .modals__modal {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 594px;
  height: 594px;
  z-index: 250;
  background-color: var(--color-white);
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
} */

.graph-modal {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  height: 100vh;
  opacity: 0;
  visibility: hidden;
  background-color: #727272;
  transition: opacity .3s ease-in-out, visibility .3s ease-in-out;
}

.graph-modal__container {
  position: relative;
  padding: 0;
  border-radius: 0;
  width: 594px;
  height: 594px;
  background-color: var(--color-white);
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
}

.graph-modal__container-visible {
  display: block;
  z-index: 200;
}

.graph-modal__content {
  display: flex;

}

.graph-modal__wrapper {
  padding: 122px 50px 90px 50px;
}

.graph-modal__title {
  margin: 0;
  margin-bottom: 5px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-text);
}

.graph-modal__subtitle {
  margin: 0;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-text);
}

.graph-modal__years {
  display: inline-block;
  margin-bottom: 40px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.graph-modal__descr {
  margin: 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: var(--color-text);
}

.graph-modal__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.graph-modal__close {
  outline: none;
}
