.header {
  position: relative;
  background-color: var(--color-bl);
  z-index: 2;
}

.header__container {
  position: relative;
  z-index: 300;
  background-color: var(--color-bl);
}

.header__top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 28px;
  padding-bottom: 29px;
}

.header-bottom__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 23px;
  padding-bottom: 22px;
  z-index: 200;
}

.header-bottom {
  position: absolute;
  top: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 200;
}

.burger {
  position: relative;
  display: none;
  width: 36px;
  height: 28px;
  cursor: pointer;
  z-index: 310;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.burger__line {
  position: absolute;
  top: 50%;
  width: 28px;
  display: inline-block;
  height: 3.65px;
  background-color: var(--color-white);
  transform: translateY(-50%);
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
}

.burger__line:first-child {
  top: 0;
  width: 100%;
  transform: translateY(0);
}

.burger__line:last-child {
  top: 100%;
  width: 24px;
  transform: translateY(-100%);
}

.header__wrapper {
  display: flex;
  align-items: center;
}

.header__logo {
  position: relative;
  top: 1px;
  margin-right: clamp(9.375rem, 5.505rem + 4.42vw, 10.813rem);
  outline: none;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.header__list {
  display: flex;
}

.header__item:not(:last-child) {
  margin-right: clamp(0.938rem, -1.563rem + 3.91vw, 3.125rem);
}

.header__link {
  position: relative;
  font-weight: 600;
  padding: 2px 6px 8px 6px;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
  transition: color 0.3s ease-in-out, background-color 0.3s ease-in-out;
  background-color: transparent;
  outline: none;
}

.header__link:hover {
  color: var(--color-hover);
}

.header__link:active {
  color: var(--color-active);
}

.header__link:focus {
  background-color: var(--color-active);
}

.header__btn {
  position: relative;
  top: 3px;
  padding: 2px 0 8px 28px;
  outline: none;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
  background-position: 8px 8px;
  background-repeat: no-repeat;
  background-size: 13px;
  background-image: url(../../img/header/input-header.svg);
  transition: color 0.3s ease-in-out, background-image 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.header__btn:hover {
  color: var(--color-hover);
  background-image: url(../../img/header/input-header-hover.svg);
}

.header__btn:active {
  color: var(--color-active);
  background-image: url(../../img/header/input-header-active.svg);
}

.header__btn:focus {
  background-color: var(--color-active);
}

.header__btn-open {
  position: relative;
  display: none;
  width: 30px;
  height: 30px;
  background-image: url(../../img/header/header-search.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: center;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

.header-top__wrapper {
  position: absolute;
  right: clamp(3.125rem, -3.684rem + 10.64vw, 5.625rem);
  display: none;
  align-items: center;
  justify-content: space-between;
  min-width: 315px;
  transform: translateY(-300%);
  transition: transform 0.3s ease-in-out;
}

.header-top__form {
  position: relative;
  top: 1px;
  flex: 1;
  padding-left: 42px;
  height: 30px;
  width: 30px;
  line-height: 25px;
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.85);
  background-image: url(../../img/header/header-search.svg);
  background-repeat: no-repeat;
  background-size: 30px;
  background-position: left center;
  cursor: pointer;
}

.header-top__search {
  position: relative;
  right: 7px;
  display: inline-block;
  padding: 0;
  padding-bottom: 1px;
  min-width: 218px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-white);
  color: rgba(255, 255, 255, 0.85);
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
}

.close {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.close__line {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: 30px;
  height: 3px;
  background-color: var(--color-white);
  transform: rotate(45deg);
}

.close__line:first-child {
  transform: rotate(-45deg);
}

.header-bottom__list {
  display: flex;
}

.header-bottom__item:not(:last-child) {
  margin-right: clamp(1.25rem, -4.25rem + 8.59vw, 6.063rem);
}

.header-bottom__item:nth-child(2) {
  margin-right: clamp(1.25rem, -4.321rem + 8.71vw, 6.125rem);
}

.header-bottom__item:nth-child(3) {
  margin-right: clamp(1.25rem, -4.393rem + 8.82vw, 6.188rem);
}

.header-bottom__item:nth-child(4) {
  margin-right: clamp(1.25rem, -4.179rem + 8.48vw, 6rem);
}

.header-bottom__btn {
  position: relative;
  padding-right: 15px;
  font-size: 18px;
  line-height: 25px;
  color: var(--color-white);
  background-position: right 11px;
  background-repeat: no-repeat;
  background-size: 12px 7px;
  background-image: url(../../img/header/header-check-mark.svg);
  transition: color 0.3s ease-in-out, background-image 0.3s ease-in-out;
  outline: none;
}

.header-bottom__btn--pr {
  padding-right: 18px;
}

.header-bottom__btn::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: -2px;
  right: -5px;
  bottom: -5px;
  left: -5px;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
  pointer-events: none;
}

.header-bottom__btn-active {
  color: var(--color-active);
  background-image: url(../../img/header/header-check-mark-reverse.svg);
}

.header-bottom__btn:hover {
  color: var(--color-hover);
  background-image: url(../../img/header/header-check-mark-hover.svg);
}

.header-bottom__btn:active {
  color: var(--color-active);
  background-image: url(../../img/header/header-check-mark-reverse.svg);
}

.header-bottom__btn:focus(:not(:active))::after {
  background-color: var(--color-active);
}

.header-bottom__form {
  position: relative;
  top: 1px;
  padding-left: 33px;
  font-size: 18px;
  line-height: 25px;
  outline: none;
  border: none;
  color: rgba(255, 255, 255, 0.85);
  background-image: url(../../img/header/header-search.svg);
  background-repeat: no-repeat;
  background-size: 24px;
  background-position: -1px 3px;
}

.header-bottom__search {
  position: relative;
  display: inline-block;
  padding: 0;
  padding-bottom: 1px;
  min-width: 218px;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color-white);
  color: rgba(255, 255, 255, 0.85);
  background-color: transparent;
  transition: border-color 0.3s ease-in-out;
}

.header-bottom__search-visibility {
  display: none;
}

.header-bottom__search:active,
.header-bottom__search:hover {
  border-color: var(--color-hover);
}

.header-bottom__search:focus {
  border-color: var(--color-active);
}

.header-bottom__search::placeholder {
  color: rgba(255, 255, 255, 0.85);
  transition: color 0.3s ease-in-out;
}

.header-bottom__search:focus::placeholder {
  color: transparent;
}

.menu__list {
  position: absolute;
  top: 100%;
  padding: 40px;
  min-width: 300px;
  max-height: 300px;
  background-color: rgba(0, 0, 0, 0.5);
  transition: 0.5s ease-in-out;
  transform: scaleY(0);
  transform-origin: 0 0;
  visibility: hidden;
  overflow-y: visible;
}

.menu__list-active {
  visibility: visible;
  transform: scaleY(1);
}

.simplebar-track.simplebar-vertical {
  top: 40px;
  bottom: 40px;
  right: 21px;
  width: 2px;
  background: var(--color-bl);
}

.simplebar-scrollbar::before {
  width: 2px;
  left: 0;
  border-radius: 0;
  background: #fff;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  top: 0px;
  bottom: 0px;
}

.simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
}

.menu__item:not(:last-child) {
  margin-bottom: 20px;
}

.menu__link {
  position: relative;
  display: inline-block;
  min-width: 220px;
  padding: 9px 124px 12px 14px;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--color-white);
  background-color: rgba(0, 0, 0, 0.5);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  outline: 2px solid transparent;
  transition: outline-color 0.3s ease-in-out;
}

.menu__link:hover:not(:active),
.menu__link:focus:not(:active) {
  outline-color: #9d5cd0;
}

.menu__link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: transparent;
  transition: background-color 0.3s ease-in-out;
}

.menu__link:active::before {
  background-color: rgba(194, 131, 243, 0.4);
}

.menu__link-one {
  background-image: url(../../img/header/head-1.png);
}

.menu__link-two {
  background-image: url(../../img/header/head-2.png);
}

.menu__link-three {
  background-image: url(../../img/header/head-3.png);
}

.menu__link-four {
  background-image: url(../../img/header/head-4.png);
}

.menu__link-five {
  background-image: url(../../img/header/head-5.png);
}

.menu__link-six {
  background-image: url(../../img/header/head-6.png);
}

.menu__link-seven {
  background-image: url(../../img/header/head-7.png);
}

.menu__link-eight {
  background-image: url(../../img/header/head-8.png);
}

.menu__link-nine {
  background-image: url(../../img/header/head-9.png);
}

.menu__link-ten {
  background-image: url(../../img/header/head-10.png);
}

.menu__link-eleven {
  background-image: url(../../img/header/head-11.png);
}

.menu__link-twelve {
  background-image: url(../../img/header/head-12.png);
}

.menu__link-thirteen {
  background-image: url(../../img/header/head-13.png);
}

.menu__link-fourteen {
  background-image: url(../../img/header/head-14.png);
}

.menu__link-fifteen {
  background-image: url(../../img/header/head-15.png);
}

.menu__link-sixteen {
  background-image: url(../../img/header/head-16.png);
}

.menu__link-seventeen {
  background-image: url(../../img/header/head-17.png);
}

.menu__link-eighteen {
  background-image: url(../../img/header/head-18.png);
}

.menu__link-nineteen {
  background-image: url(../../img/header/head-19.png);
}

.menu__link-twenty {
  background-image: url(../../img/header/head-20.png);
}
