.project {
  padding-top: 50px;
  padding-bottom: 80px;
}

.project__container {
  position: relative;
  display: flex;
  flex-direction: column;
}

.project__title {
  margin-bottom: 16px;
}

.project__descr {
  margin-bottom: 20px;
  width: 67%;
}

.project__tooltip {
  position: relative;
  top: 2px;
  display: inline-block;
  border: 1px solid var(--color-amethyst);
  border-radius: 100%;
  width: 16px;
  height: 16px;
  background-color: transparent;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.project__tooltip::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 100%;
  background-position: center;
  background-size: 2px 10px;
  background-repeat: no-repeat;
  background-image: url(../../img/project-i.svg);
  transition: background-image 0.3s ease-in-out;
}

.project__tooltip:hover,
.project__tooltip:focus {
  background-color: var(--color-vsv);
}

.project__tooltip:active {
  background-color: var(--color-amethyst);
}

.project__tooltip:active::after {
  background-image: url(../../img/project-i-hov.svg);
}

.project__link {
  display: inline-block;
  padding: 0 5px;
  outline: none;
  border-bottom: 1px solid transparent;
  color: var(--color-amethyst);
  transform: translateX(-4px);
  transition: border-color 0.3s ease-in-out, color 0.3s ease-in-out,
    background-color 0.3s ease-in-out;
}

.project__link:focus {
  background-color: var(--color-amethyst);
  color: var(--color-white);
}

.project__link:hover {
  border-color: var(--color-amethyst);
}

.project__link:active {
  border-color: var(--color-active);
  color: var(--color-active);
}

.project__subtitle {
  margin-bottom: 22px;
}

.project__swiper {
  align-self: center;
  width: clamp(51.125rem, 5.982rem + 70.54vw, 90.625rem);
  height: clamp(8rem, 6.429rem + 2.46vw, 9.375rem);
  overflow: hidden;
}

.project__wrapper {
  display: flex;
  height: 100%;
}

.project__slide {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border: 1px solid var(--ligth-gray);
  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  transition: border-color 0.3s ease-in-out, background-image 0.3s ease-in-out;
}

.project__slide:focus,
.project__slide:active {
  border-color: var(--color-amethyst);
}

.project__img {
  filter: saturate(0) grayscale(100%);
  transition: filter 0.3s ease-in-out;
}

.project__slide:hover .project__img {
  filter: saturate(1) grayscale(0);
}

.project__img-one {
  width: clamp(13.125rem, 10.696rem + 3.79vw, 15.25rem);
  height: clamp(3.25rem, 2.464rem + 1.23vw, 3.938rem);
}

.project__img-two {
  width: clamp(17.688rem, 14.33rem + 5.25vw, 20.625rem);
  height: clamp(3.063rem, 2.348rem + 1.12vw, 3.688rem);
}

.project__img-three {
  width: 229px;
  height: 54px;
}

.project__img-four {
  width: clamp(6.563rem, 5.277rem + 2.01vw, 7.688rem);
  height: clamp(4.563rem, 3.705rem + 1.34vw, 5.313rem);
}

.project__img-five {
  width: clamp(9.25rem, 7.464rem + 2.79vw, 10.813rem);
  height: clamp(4.563rem, 3.705rem + 1.34vw, 5.313rem);
}

.project__img-six {
  width: clamp(13.438rem, 10.795rem + 4.13vw, 15.75rem);
  height: clamp(3.75rem, 3.036rem + 1.12vw, 4.375rem);
}

.project__img-seven {
  width: clamp(15.25rem, 12.25rem + 4.69vw, 17.875rem);
  height: clamp(3.688rem, 2.973rem + 1.12vw, 4.313rem);
}

.project__img-eight {
  width: clamp(9.875rem, 7.946rem + 3.01vw, 11.563rem);
  height: clamp(4.313rem, 3.455rem + 1.34vw, 5.063rem);
}

.project__img-nine {
  width: clamp(12.25rem, 9.893rem + 3.68vw, 14.313rem);
  height: clamp(3.313rem, 2.67rem + 1vw, 3.875rem);
}

.project__swiper-button-next,
.project__swiper-button-prev {
  position: absolute;
  bottom: 61px;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  outline: 2px solid transparent;
  background-color: #ececec;
  background-repeat: no-repeat;
  background-size: 7px;
  background-position: center;
  background-image: url(../../img/project/project-rectangle.svg);
  cursor: pointer;
  transition: outline-color 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.project__swiper-button-next:focus,
.project__swiper-button-prev:focus {
  outline-color: var(--color-amethyst);
}

.project__swiper-button-next:hover,
.project__swiper-button-prev:hover {
  background-color: var(--color-vsv);
}

.project__swiper-button-next:active,
.project__swiper-button-prev:active {
  background-color: var(--color-vsv);
  outline-color: var(--color-amethyst);
}

.project__swiper-button-next {
  right: 15px;
  transform: rotate(180deg);
}

.project__container .project__swiper-button-prev.swiper-button-disabled {
  pointer-events: none;
  background-image: url(../../img/project/project-rectangle-dis.svg);
  transform: rotate(180deg);
}

.project__container .project__swiper-button-next.swiper-button-disabled {
  pointer-events: none;
  background-image: url(../../img/project/project-rectangle-dis.svg);
  transform: rotate(360deg);
}

.tippy-box {
  border-radius: 0;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  background-color: var(--color-amethyst);
}

.tippy-box[data-theme~="amethyst"][data-placement^="top"]
  > .tippy-arrow::before {
  border-top-color: var(--color-amethyst);
}

.tippy-box[data-inertia][data-state="visible"] {
  transition-timing-function: cubic-bezier(0.17, 0.67, 0.56, 0.83);
}
