@font-face {
  font-family: 'OpenSans';
  src: url('../../fonts/OpenSansBold.woff2') format('woff2'), url('../../fonts/OpenSansBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../fonts/OpenSansSemiBold.woff2') format('woff2'), url('../../fonts/OpenSansSemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../fonts/OpenSansRegular.woff2') format('woff2'), url('../../fonts/OpenSansRegular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'OpenSans';
  src: url('../../fonts/OpenSansItalic.woff2') format('woff2'), url('../../fonts/OpenSansItalic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

img {
  max-width: 100%;
}

body {
  background-color: var(--color-white);
  font-family: 'OpenSans', sans-serif;
  font-weight: 400;
}

:root {
  --padding-cont: 15px;
  --color-amethyst: #9d5cd0;
  --color-text: #333;
  --color-white: #fff;
  --color-hover: #c283f3;
  --color-active: #7943a4;
  --ligth-gray: #cacaca;
  --color-time: #999;
  --color-bl: #000;
  --color-vsv: #d1a9f0;
  --color-error: #d11616;
}

:where(p[class],
ul[class]) {
  margin: 0;
}

:where(ul[class]) {
  margin: 0;
  padding: 0;
  list-style: none;
}

:where(button[class]) {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.container {
  margin: 0 auto;
  padding: 0 var(--padding-cont);
  max-width: 1630px;
}

.title {
  margin: 0;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
  color: var(--color-text);
}

.descr {
  margin: 0;
  font-size: 16px;
  line-height: 32px;
  color: var(--color-text);
}

.subtitle {
  margin: 0;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  color: var(--color-text);
}

.time {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  color: var(--color-time);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}